/*left start*/
.g-left{
	.g-left-type{
		display: block;
		width: 250px;
		margin-top: 25px ;
		dt{
			padding-left: 90px;
			background: #252525;
			font: 14px/30px "Microsoft YaHei","Microsoft JhengHei","黑体";
		}
		dd{
			padding-top: 10px;
			height: 180px;
			.g-left-p li a{
				margin: 0 6px;
				display: block;
				width: 240px;
			    height: 28px;
			    line-height:28px;
				overflow: hidden;
			}
			.g-left-p li a:hover{color: #0099ff;}
		}
	  a{color: #ffffff; }
	}
}
/*right start*/
.g-right{
	position: relative;
	margin-top: 50px;
	margin-left: 250px;
	background-color: #ededf0;
	.g-right-article{
		margin:0 auto;
		padding: 15px;
		width: 900px;
		background-color: #ffffff;
		overflow: hidden;
		box-shadow: 0 1px 3px rgba(0,0,0,.3);
		.m-article{
			padding: 10px;
			line-height: 30px;
		}
	}
	.g-right-list{
		padding: 15px;
		display: block;
		background-color: #ffffff;
		.nav-tabs{
			font: 14px/29px "Microsoft YaHei","Microsoft JhengHei","黑体";
			border-bottom: 1px solid #DDD;
			width: 700px;
			height: 30px;
			a,a:hover{
				display: block;
				padding:0 10px ;
				color: #252525;
				text-align: center;
			}
			li{float: left;}
		}
		.list-article{
			width: 700px;
			padding: 5px;
			float: left;
			margin-top: 10px;
		    .single_fake{
			    width: 700px;
			    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,STXihei,"Microsoft YaHei","微软雅黑",sans-serif;
			    font-size: 1em;
			    line-height: 1.5em;
			    .single{
				    min-height:50px;
				    .single_left {
					    float: left;
				    }
				    .article_title {
					    line-height: 1.2em;
					    font-size: 22px;
					    margin: 10px 0 5px 0;
					    font-weight: 500;
				    }
				    .article_thumb {
					    margin-left: 75%;
					    padding-top: 20px;
				    }
				    .article_cut {
					    font-size: 13px;
					    line-height: 1.7em;
					    margin-bottom: 10px;
					    color: #555;
				    }
				    .clear {clear: both;}
			    }
			    .tip {
				    font-size: 13px;
				    color: #777;
				    margin-bottom: 3px;
				    padding-bottom: 3px;
				    display: block;
				    border-bottom: 1px solid #ddd;
				    height: 20px;
				    span {
					    margin-right: 20px;
					    padding-left: 2px;
					    float: left;
					     display: block;
				    }
			    }
		    }
		}
	}
}