/*left start*/
.g-left .g-left-type {
  display: block;
  width: 250px;
  margin-top: 25px ;
}
.g-left .g-left-type dt {
  padding-left: 90px;
  background: #252525;
  font: 14px/30px "Microsoft YaHei", "Microsoft JhengHei", "黑体";
}
.g-left .g-left-type dd {
  padding-top: 10px;
  height: 180px;
}
.g-left .g-left-type dd .g-left-p li a {
  margin: 0 6px;
  display: block;
  width: 240px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}
.g-left .g-left-type dd .g-left-p li a:hover {
  color: #0099ff;
}
.g-left .g-left-type a {
  color: #ffffff;
}
/*right start*/
.g-right {
  position: relative;
  margin-top: 50px;
  margin-left: 250px;
  background-color: #ededf0;
}
.g-right .g-right-article {
  margin: 0 auto;
  padding: 15px;
  width: 900px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.g-right .g-right-article .m-article {
  padding: 10px;
  line-height: 30px;
}
.g-right .g-right-list {
  padding: 15px;
  display: block;
  background-color: #ffffff;
}
.g-right .g-right-list .nav-tabs {
  font: 14px/29px "Microsoft YaHei", "Microsoft JhengHei", "黑体";
  border-bottom: 1px solid #DDD;
  width: 700px;
  height: 30px;
}
.g-right .g-right-list .nav-tabs a,
.g-right .g-right-list .nav-tabs a:hover {
  display: block;
  padding: 0 10px ;
  color: #252525;
  text-align: center;
}
.g-right .g-right-list .nav-tabs li {
  float: left;
}
